<!--广告位-->
<div class="wrap1200 page-ad">
	<div class="slideBox">
		<a href="https://www1.gamepark.com.tw/30hI8?uid1=facecbook&uid2=google" target="_blank" class="slider-film">
			<img class="lazyimg" data-original="{$home_tplpath}images/1120x100.png" src="">
		</a>
	</div>
</div>
<!--广告位-->

<div class="block20"></div>
<!--页面分割-->

<div class="footer-box show" style="clear:both;">	
	<!--友情链接栏-->
	<p class="channel-font">
		<a href="javascript:viod();" target="_blank">友情连接：</a>
		{link id="vo"}
		<a href="{$vo['url']}" target="_blank">{$vo['title']}</a>
		{/link}
		<br>
	</p>
	<!--友情链接栏-->

	<!--版权-->
	<p class="footer-announce">
		本站收錄的所有小說均由自動化設備采集於互聯網，版權為原創作者所有，在本站展示僅為方便網友閱讀。<br>

		本站所收錄作品、社區話題、書庫評論及本站所做之廣告均屬其個人行為，與本站立場無關。<br>

		Copyright © 2023 {$web['url']} Rights Reserved.   {$web['meta_title']} 版权所有。<br>

		聯係郵箱 ： #gmail.com (# 換成 @)
	</p>

	<br>
	<div style="color: Red;">如無意中侵犯到您權益，請與我們聯係，我們將在第一時間回應並處理！謝謝！</div>
	<!--版权-->

	<!--备案位置-->
	<div style="width:300px;margin:0 auto; padding:20px 0;">
		<a target="_blank" href="#" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
			<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">{$web['icp']}</p>
		</a>
	</div>
	<!--备案位置-->
</div>